name: CI

permissions: {}

on:
  pull_request:
  push:
    branches:
      - alpha
      - beta
      - main
      - renovate/**

jobs:
  ci-optimization:
    name: CI optimization
    uses: dargmuesli/github-actions/.github/workflows/ci-optimization.yml@59b73f336e9966ee1654310effd53cef6d6f1d70 # 5.0.0-beta.1
    permissions:
      pull-requests: read
  release_semantic_dry:
    needs: ci-optimization
    if: needs.ci-optimization.outputs.continue == 'true'
    name: Release (semantic, dry)
    uses: dargmuesli/github-actions/.github/workflows/release-semantic.yml@59b73f336e9966ee1654310effd53cef6d6f1d70 # 5.0.0-beta.1
    permissions:
      contents: write
      id-token: write
    secrets:
      GH_APP_PRIVATE_KEY: ${{ secrets.GH_APP_PRIVATE_KEY }}
    with:
      DRY_RUN: true
      GH_APP_ID: ${{ vars.GH_APP_ID }}
  build:
    name: Build
    uses: dargmuesli/github-actions/.github/workflows/docker.yml@59b73f336e9966ee1654310effd53cef6d6f1d70 # 5.0.0-beta.1
    needs: release_semantic_dry
    permissions:
      packages: write
    with:
      ARTIFACT_PATH: src/.output/public/
      BUILD_ADD_HOSTS: jonas-thelemann.de=127.0.0.1
      BUILD_ARGUMENTS: |
        PORT=443
        NUXT_PUBLIC_SITE_URL=https://jonas-thelemann.de
      BUILD_TARGET_RELEASE: build-static
      TAG: ${{ needs.release_semantic_dry.outputs.new_release_version }}
  release_semantic:
    needs: build
    name: Release (semantic)
    uses: dargmuesli/github-actions/.github/workflows/release-semantic.yml@59b73f336e9966ee1654310effd53cef6d6f1d70 # 5.0.0-beta.1
    permissions:
      contents: write
      id-token: write
    secrets:
      GH_APP_PRIVATE_KEY: ${{ secrets.GH_APP_PRIVATE_KEY }}
    with:
      GH_APP_ID: ${{ vars.GH_APP_ID }}
  deploy:
    needs: build
    name: Deploy
    uses: dargmuesli/github-actions/.github/workflows/deploy-cloudflare-pages.yml@59b73f336e9966ee1654310effd53cef6d6f1d70 # 5.0.0-beta.1
    permissions:
      contents: read
      deployments: write
    secrets:
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
    with:
      ACCOUNT_ID: f00135e2a8cc575a4bc4817c9521fe71
      BRANCH: ${{ github.head_ref || github.ref_name }}
      PROJECT_NAME: ${{ github.event.repository.name }}
